:root {
    --light-color: #aeedf8;
    --header-font-size-1: 3rem;
    --header-font-size-2: 2rem;
    --paragraph-font-size: 1.5rem;
    --header-font-family-1: 'Roboto Mono', monospace;
    --header-font-family-2: 'Roboto Mono', sans-serif;



}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light-color);
    width: 100vw;
}

.h1_1 {
    font-size: var(--header-font-size-1);
    font-family: var(--header-font-family-1);
}

.img1 {
    width: 153px;
    height: 92%;
    box-shadow: 8px 8px 7px rgb(65, 71, 71);
}

.h3_1 {
    font-size: var(--header-font-size-2);
    font-family: var(--header-font-family-2);
}

.description1 {
    font-size: var(--paragraph-font-size);
    font-family: var(--header-font-family-2);
}

.h4_1 {
    font-size: var(--header-font-size-2);
    font-family: var(--header-font-family-2);
}

.follow1 ul {
    font-size: var(--paragraph-font-size);
    list-style-type: none;
}

.follow1 li {
    display: inline-block;
}

.follow1 a {
    margin: 30px;
}
@media (max-width: 768px) {
    body {
        width: 50vw;
        background-color: coral;
        margin-left: 25vw;

    }
}