.names-cont {
    height: fit-content;
    width: fit-content;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
}

.name {
    margin: 5px;
}