@font-face
{
    src: url(./GothamMedium.ttf);
    font-family: GothamMedium;
}

@font-face
{
    src: url(./GothamBook.ttf);
    font-family: GothamBook;
}
@font-face
{
    src: url(./GothamLightRegular.otf);
    font-family: GothamLight;
}
@font-face
{
    src: url(./GothamBold.ttf);
    font-family: GothamBold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'GothamMedium';
    font-size: 14px;
    color: #ffffff;

}

.scroll-container 
{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-container section
{
    height: 100vh;
    scroll-snap-align: center;
}

a
{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.first-page
{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
}

.first-img
{
    background: url(./img/model-3-hero-desktop.jpeg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

/*----- First Page -----*/
/*----- Nav-Bar -----*/

#nav-bar .container .svg-logo 
{
    float: left;
    padding: 0 20px;
    margin-top: 20px; 
}

#nav-bar .model-bar a
{
    margin: 0 10px;
    font-size: 14px;
    font-weight: 100;
}
#nav-bar .container ul
{
    list-style: none;
    float: left;
    margin-top: 24px;
}

#nav-bar .container .model-bar
{
    float:left;
    margin-left: 24.6vw;
}

#nav-bar .model-bar li
{
    display: inline-block;
    padding: 5px 0 10px 10px;
    margin: -3px 5px; 
}


#nav-bar .container .model-2-bar
{
    padding: 10px 0 10px 10px;
    margin-left: 20px;
    float:right;
}

#nav-bar .container .model-2-bar li
{
    display: inline-block;
    margin: 0 10px;
    position: relative;
    top: -8px;
    right: 45px;
}

#nav-bar .meta-info .model-2-bar span
{
    float: right;
    position: relative;
    top: -9px !important;
    right: 30px;
}


/*----- center page -----*/

.model3-header
{
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 14vh;
    left: 45.8vw;  
}

.car-info 
{
    position: absolute;
    bottom: 8vh;
    left: 31%;
}

.car-info div
{
    font-size: 28px;
    display: inline-block;
    text-align: center;  
}

.car-info .line
{
    font-family: 'GothamBook';
    font-size: 70px;
    /* border: 2px thin #ffffff; */
    /* border-radius: 20px; */
    font-weight: 100;
    display: inline-block;
    margin: 0 10px;
} 

.car-info .speed .scale-1
{
    position: relative;
    left: 50px;
}
.car-info .speed span img
{
    filter: invert(92%) sepia(88%) saturate(2%) hue-rotate(223deg) brightness(108%) contrast(101%);
    position: relative;
}

.car-info .speed .scale-2 .scale-2-img
{
    position: relative;
    left: -42px;
    filter: opacity(0.4) ;
}

.car-info .speed .line-1 .line-1-img
{
    position: relative;
    left: -59px;
    top: 8px;
    transform: rotate(90deg);
}


.car-info .order-btn
{
    float: right;
    font-size: 12px;
    border: 3px solid #ffffff;
    border-radius: 30px;
    padding: 10px 40px;
    margin-left: 30px;
    margin-top: 5px;
    cursor: pointer;
}
.car-info .order-btn:hover
{
    background: whitesmoke;
}

.car-info .order-btn a:hover
{
    color: black;
}

.car-info .speed-p,
.car-info .range-p,
.car-info .motor-p
{
    font-size: 12px;
    font-family: 'GothamBook';
    padding: 10px 20px;
    margin: 5px 10px;
    text-align: center;
}

.car-info .speed-p
{
    margin-left: 60px;
}
.car-info .awd
{
    text-transform: uppercase;
}

.car-info .awd .motor-p
{
    text-transform: none ;
}

.arrow
{
    position: relative;
    top: 920px;
    left: -24.5vw;
}

.arrow .arrow-down-white
{
    width: 30px;
    height: 50px;
    filter: invert(97%) sepia(30%) saturate(52%) hue-rotate(279deg) brightness(123%) contrast(100%);
}

/*----- Second Page -----*/

.second-img
{
    position: relative;
    background: url(./img/model_3_safety_hero_mobile_2.png) no-repeat center center/cover;
    float: right;
    height: 100vh;
    top: -20px;
    width: 78%;
    
    margin-top: -7px ;
      
}

.second-page #nav-bar .svg-logo_2 img
{
    position: relative;
    top: 20px;
    left: 20px; 
}

.second-page
{
    font-family: 'GothamMedium';
    height: 100vh;
    width: 100vw;
    font-size: 14px;
    color: black;
}

.second-page .left-info .safety
{
    color: #171A20;
    font-size: 17px;
    font-family: 'GothamLight';
    position: relative;
    top: 5vh;
    left: -125px; 
    margin-bottom: -20px;
}

.second-page .left-info .bulit-safety
{
    color: #171A20;
    font-size: 28px;
    font-family: 'GothamMedium';
    font-weight: 100;
    position: relative;
    top: 7vh;
    left: 50px;
}

.second-page .left-info p
{
    font-size: 14px;
    font-family: 'GothamBook';
    position: relative;
    top: 9vh;
    left: 50px;
    color: #393C41;
    text-align: left;
    max-width: 17vw;
    max-height: 20vh;
    line-height: 1.5em;
    padding: 0 0 14px;
    margin: 0 0 16px;
    font-weight: 300;
}

.second-page .left-info .rating
{
    background: #EEEEEE;
    display: block;
    padding: 24px 24px;
    border-radius: 20px;
    position: relative;
    top: 9vh;
    left: 50px;
    max-width: 17vw;
    height: 30vh;
}


.second-page .left-info .star-list
{
    list-style: none;
    float: left;
    position: relative;
    top:-20px
}


.second-page .left-info li
{
    font-family: 'GothamBold';
    color: #393C41;
    font-size: 14px;
    position: relative;
    left: 0;
    padding: 2px;
    line-height: 1;
}

.second-page .left-info .header
{
    color: #171A20;
    font-family: 'GothamMedium';
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 30px; 
    text-align: center;
    line-height: 1.5em;
}

.func .word
{
    margin-right: 8px;
}

.second-page .star-list .rating-in
{
    font-size: 8px;
    font-family: 'GothamBook';
    margin-top: -3px;
    margin-bottom: 10px;
}
.func .star
{
    font-size: 17px;
    font-family: 'GothamMedium';
    float: right;
    position: relative;
    left: 85px;
}

.second-page .car-info
{
    position: relative;
}

.car-info .order-btn_2
{
    float: left;
    font-size: 12px;
    border: 3px solid #171A20;
    border-radius: 30px;
    padding: 10px 32px;
    cursor: pointer;
    position: relative;
    left: -19.8vw;
    top: -48px;
    margin: 8px 0;
}

.car-info .order-btn_2 a
{
    color: #171A20;
}

.car-info .order-btn_2:hover
{
    background: black;
}

.car-info .order-btn_2 a:hover
{
    color: whitesmoke;
}

.car-info .plus
{
    position: relative;
    top: -41px;
    left: -680px;
}

.car-info .plus .plus-img
{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border: 3px solid #000000;
    border-radius: 30px;

}

.car-info .plus a .learn
{
    font-family: 'GothamBook';
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    top: -15px;
}

.car-info .plus img:hover
{
    background: black;
}

/*****Third-page*****/
.third-page
{
    height: 100vh;
    width: 100vw;
}

.third-img
{
    background: url(./img/lhd-performance-hero-desktop.jpeg) no-repeat center center/cover;
    height: 75.3vh;
    position: relative;   
}
/*****Nav-Bar*****/

#nav-bar .container .svg-logo-3 
{
    float: left;
    position: relative;
    top: -15px;
    left: -130px;
}

.third-page .main-info
{
    position: relative;
    top: 582px;
    left: 146px;
    display: inline-block;
}


.third-page .main-info div
{
    font-size: 28px;
    display: inline-block;
    text-align: left;
    margin: 0 -10px;
} 


.third-page .main-info .line
{
    font-family: 'GothamBook';
    font-size: 70px;
    display: inline-block;
    margin: 0 -6px;
} 

.third-page .main-info .speed-header
{   
    font-size: 28px;
    font-family: 'GothamMedium';
    position: relative;
    left:30px
}
.third-page .main-info p
{
    text-align: left;
    font-size: 12px;
    font-family: 'GothamBook';
}
.third-page .main-info .speed .scale-1
{
    position: relative;
    left: 50px;
}

.third-page .main-info .speed span img
{
    filter: invert(92%) sepia(88%) saturate(2%) hue-rotate(223deg) brightness(108%) contrast(101%);
    position: relative;
}

.third-page .main-info .speed .scale-2 .scale-2-img
{
    position: relative;
    left: -42px;
    filter: opacity(0.2) ;
}

.third-page .main-info .speed .line-1 .line-1-img
{
    position: relative;
    left: -59px;
    top: 8px;
    transform: rotate(90deg);
}

.main-info .speed-p,
.main-info .range-p,
.main-info .motor-p
{
    font-size: 12px;
    font-family: 'GothamBook';
    padding: 10px 20px;
    margin: 5px 10px;
    text-align: center;
}

.third-page .main-info .speed-p
{
    margin-left: 60px;
}
.third-page .main-info .awd
{
    text-transform: uppercase;
}

.third-page .main-info .awd .motor-p
{
    text-transform: none ;
}

/*****Footer*****/

.third-page .pref-info
{
    position: relative;
    top: 47px;
    left: 25vw;
    color: #000000;
} 

.third-page .pref-info .left-info
{
    float: left;
}

.third-page .pref-info .pref
{
    font-size: 17px;
    font-family: 'GothamLight';
    margin-bottom: 5px;
    position: relative;
}

.third-page .quick
{
    font-size: 28px;
    font-weight: 100;
    position: relative;
}

.third-page .butt
{
    position: relative;
    top: 35px
}

.pref-info .left-info .order-btn_3
{
    font-size: 12px;
    border: 3px solid #000000;
    text-align: center;
    border-radius: 30px;
    padding: 11px 35px;
    cursor: pointer;

}

.pref-info .left-info .order-btn_3 a
{
    color: #000000;
}

.third-page .pref-info .order-btn_3 a:hover
{
    color: black;
}

.third-page .butt .plus
{
    float: left;
    position: relative;
    top: -11px;
    left: -9px;
}

.third-page .plus .plus-img
{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border: 3px solid #000000;
    border-radius: 30px;
}

.third-page .plus a .learn
{
    font-family: 'GothamBook';
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 10px;
    position: relative;
    top: -15px;
}

.plus img:hover
{
    background: black;
}

.third-page .right-info
{
    font-size: 14px;
    font-family: 'GothamBook';
    line-height: 1.5;
    position: relative;
    left: 38px;
}