* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.grid {
    width: 80%;
    height: 60%;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas: 
    'img1	img1	img2	img2	img2	img3	img4	img4'
    'img1	img1	img2	img2	img2	img3	img4	img4'
    'img5	img5	img2	img2	img2	img8	img8	img9'
    'img5	img5	img6	img6	img7	img8	img8	img9'
    'img5	img5	img6	img6	img10	img10	img10	img9'
    'img11	img12	img12	img13	img10	img10	img10	img14'
    'img11	img12	img12	img13	img10	img10	img10	img14'
    ;
}

.grid > div {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.img1 {
    grid-area: img1;
    background-image: url('./images/gal-1.jpeg');
}

.img2 {
    grid-area: img2;
    background-image: url('./images/gal-2.jpeg');
}

.img3 {
    grid-area: img3;
    background-image: url('./images/gal-3.jpeg');
}

.img4 {
    grid-area: img4;
    background-image: url('./images/gal-4.jpeg');
}

.img5 {
    grid-area: img5;
    background-image: url('./images/gal-5.jpeg');
}
.img6 {
    grid-area: img6;
    background-image: url('./images/gal-6.jpeg');
}

.img7 {
    grid-area: img7;
    background-image: url('./images/gal-7.jpeg');
}

.img8 {
    grid-area: img8;
    background-image: url('./images/gal-8.jpeg');
}

.img9 {
    grid-area: img9;
    background-image: url('./images/gal-9.jpeg');
}

.img10 {
    grid-area: img10;
    background-image: url('./images/gal-10.jpeg');
}

.img11 {
    grid-area: img11;
    background-image: url('./images/gal-11.jpeg');
}

.img12 {
    grid-area: img12;
    background-image: url('./images/gal-12.jpeg');
}

.img13 {
    grid-area: img13;
    background-image: url('./images/gal-13.jpeg');
}

.img14 {
    grid-area: img14;
    background-image: url('./images/gal-14.jpeg');
}
