@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     
    /* line-height: 1.5rem; */
}

/***** home-page *****/
#home, #about {
    height: 100vh;
    width: 100%;
    font-size: 1.5rem;
}

.container {
    position: relative;
}

.container .img1 {
    background: url(./images/star.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    z-index: -10;
    opacity: 0.7;
    position: relative;
}

/***** nav-bar *****/
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    background: white;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 30px;
    margin-top: 15px;
}

/* .nav-bar.top {
    background: transparent;
}

.nav-bar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.nav-bar a:hover {
    border-bottom: #28a745 2px solid;
} */

.logo > a {
    color: #f7c08a;
    position: relative;
    font-size: 3rem;
}

.nav-bar ul {
    list-style: none;
    display: flex;
}

li {
    margin: 20px 40px;
    padding: 10px 30px; 
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    position: relative;
}

a:hover {
    animation: size-inc 1s ease-out;
    color: #f7c08a;
}

.nav-bar .current {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border-bottom: 2px solid #f7c08a;
    padding-bottom: 5px;
}

a.current:hover {

  color: #f7c08a;
  animation: curr 1s ease-out;
}

/***** main content *****/
.main-cont {
    height: 90vh;
    position: absolute;
    top: 10vh;
    left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
 
.main-cont .left-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 40vw;
    height: 50vh;
    text-align: center;
    position: relative;
    top: -50px;
    /* margin: 100px 30px ; */
}

.left-cont .face-img {
    background: url(./images/man1.jpg) no-repeat center center/cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    left: 220px;
    /* margin-bottom: 10vh; */
}

/* TODO: check!!!! */
/* .left-cont .face-img::after {
    content: '';
    width: 305px;
    height: 305px;
    position: absolute;
    left: 148px;
    top: 248px;
    z-index: -1;
    border-radius: 50%;
    border-top: solid 10px orange;
    border-right: solid 5px transparent;
    background-color: transparent; 
    animation: rotate 1s linear infinite;  
} */

.left-cont .sentence {
    font-size: 2.4rem;
    font-family: 'Crimson Text', serif;
    line-height: 4rem;
}

.sentence .spec-word {
    color: #f7c08a;
    font-weight: bold;
}

.sentence .writer {
   text-decoration: underline; 
   text-decoration-color: #f7c08a;
}

.main-cont .right-cont {
    font-size: 3rem;
    font-weight: 300;
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    top: -100px;    
}

.right-cont span {
    color: #f7c08a;
}

/***** second page *****/

.container .img2 {
    background: url(./images/earth-1272884_1280.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    z-index: -10;
    opacity: 0.6;
    position: relative;
} 

#about .right-cont,
#about .left-cont {
    height: 80%;
    width: 40vw;
    margin: 0 20px;
}

.left-cont .summery {
    display: flex;
    flex-direction: column;
    align-self:center;
    justify-content: center;
    text-align: left;
    height: 80%;
}

.summery h1 {
    font-size: 4rem;
    color: #f7c08a;
    font-weight: 200;
    margin-bottom: 30px;
    
}

.summery p {
    font-size: 2rem;
    line-height: 2.5rem;
    width: 100%;
}

#about .right-cont {
    font-size: 2rem;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    background: #f4f4f4;
    color: #333;

}

#about .right-cont h1 {
    color: #333;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 30px;
}

.top-cont .seismicai {
    margin-left: -40px;
    display: grid;
    grid-template-areas: 
    'logo logo logo header header'
    'logo logo logo header header'
    'logo logo logo sen sen'
    'logo logo logo sen sen';
}

.top-cont .seismicai-logo {
    grid-area: logo;
    margin-left: 100px;
}

.top-cont .seismicai .tit {
    grid-area: header;
    margin-top: 30px;
    margin-left: 30px;
}

.top-cont .sen {
    grid-area: sen;
    color: #333;
    margin-left: 30px;
}

.top-cont img {
    margin: 20px 30px;
}

.top-cont .amdocs {
    margin-left: -40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.amdocs .amdocs-logo {
    height: 50px;
}

.bottom-cont  > h1 {
    text-align: center;
}

.education-items {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;    
}

.education-items > div {
    padding: 0 20px;
    border: 2px solid #333;
    border-radius: 20px;
}

.bar-ilan-logo {
    width: 100px;
    height: 100px;
}

.rtg-logo {
    width: 100px;
    height: 100px;
}

.apple-logo {
    width: 250px;
    height: 100px;
}

/***** keyframes *****/

/***** nav-bar animations *****/

@keyframes size-inc {
    to {
        font-size: 2.1rem;   
    }
}

@keyframes curr {
    to {
        font-size: 2.1rem;
        border: none;   
    }
}

@keyframes rotate {
    100% {
    transform: rotate(360deg); 
    }
}
